<div class="min-h-screen flex flex-col items-center">
  <Navbar/>

  <section class="text-center grid grid-cols-2 pt-28 pb-36 w-full bg-neutral ">
    <div>
      <h1 class="text-4xl font-bold leading-tight">
        Unlock, Bid <br> and Own <br> Art Treasures
      </h1>
      <div class="flex justify-center mt-6 space-x-4">
        <Button>Explore you favorite art</Button>
      </div>
    </div>
    <div>

      <div class="w-96 h-72 rounded-lg border-tint border-2 -rotate-[20deg]">
        <img src="hero.png" alt="House" class="w-96 h-72 rounded-lg shadow-md rotate-[30deg]">
      </div>
    </div>
  </section>

  <section class="bg-white">
    <h2>Our services</h2>

  </section>


</div>
