<div class="min-h-screen flex flex-col items-center w-full">
  <section class="text-center grid grid-cols-2 pt-28 pb-36 w-full bg-neutral ">
    <div>
      <h1 class="text-4xl font-bold leading-tight">
        Unlock, Bid <br> and Own <br> Art Treasures
      </h1>
      <div class="flex justify-center mt-6 space-x-4">
        <LinkTo @route="auctions">
          <Button>Explore you favorite art</Button>
        </LinkTo>
      </div>
    </div>
    <div>

      <div class="w-96 h-72 rounded-lg border-tint border-2 -rotate-[20deg]">
        <img src="hero.png" alt="House" class="w-96 h-72 rounded-lg shadow-md rotate-[30deg]">
      </div>
    </div>
  </section>

  <section class="bg-white pt-14 pb-10">
    <h2 class="text-3xl font-semibold text-center mb-4">Our Services</h2>

    <div class="feature-carousel-wrapper">
      <div class="feature-carousel p-10">
        <FeatureCard
          @image="feature-bidding.png"
          @title="Bidding"
          @description="Actively participate in exciting auctions by placing your bids on a variety of unique items. Engage with other bidders and experience the thrill of competition as you strive to secure your desired pieces"></FeatureCard>

        <FeatureCard
          @image="feature-selling.png"
          @title="Selling"
          @description="Sell your artwork effortlessly and quickly by creating your own auction. Reach a wide audience of potential buyers and showcase your creations to art enthusiasts who appreciate your talent"></FeatureCard>

        <FeatureCard
          @image="feature-buying.png"
          @title="Buying"
          @description="Shop for exquisite artworks and rare collectibles at accessible prices. Discover beautiful pieces that not only enhance your collection but also bring joy and inspiration into your space"></FeatureCard>

        <FeatureCard
          @image="feature-filtering.png"
          @title="Filtering"
          @description="Effortlessly filter and sort listings according to your preferences, whether by price, date, or popularity. This intuitive feature allows you to quickly find exactly what you’re looking for, making your shopping experience seamless"></FeatureCard>


      </div>
    </div>
  </section>
</div>
