@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;

  @apply font-roboto;
}

.feature-carousel {
  display: flex;
  gap: 1.2rem;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.list::-webkit-scrollbar {
  display: none;
}

.feature-carousel > div {
  flex-shrink: 0;
  width: 30%;
  scroll-snap-align: center;
}

.feature-carousel-wrapper {
  position: relative;
}

.arts-section-wrapper {
  //display: grid;
  //grid-template-columns: 200px 1fr;
  //gap: 2rem;
}

.arts-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem 1.5rem;
}

.accordion-content {
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.cut-text {
  display: -webkit-box; /* Uporabi flexbox za omejitev vrstic */
  -webkit-line-clamp: 2; /* Omeji na največ 2 vrstice */
  -webkit-box-orient: vertical; /* Določi orientacijo boxa */
  overflow: hidden; /* Skrij preostanek besedila */
  text-overflow: ellipsis; /* Dodaj elipso (triple pike) */
  white-space: normal; /* Prelomi vrstice */
  line-height: 1.3; /* Višina vrstice */
}
