<div class="relative rounded-lg shadow-lg h-80 transition-transform duration-300 ease-in-out transform hover:scale-105">
  <img src="{{@image}}" alt="Feature Image" class="h-full w-full object-cover rounded-lg absolute">
  <div class="absolute inset-0 bg-black w-full h-full opacity-50 rounded-lg"></div>
  <div class="relative flex flex-col justify-end pb-10 items-center h-full p-4">
    <h2 class="text-white text-xl font-semibold">{{@title}}</h2>
    <p class="text-white text-sm text-center">{{@description}}</p>
  </div>
</div>