<footer class="bg-black text-white py-7 w-full">
  <div class="container mx-auto flex justify-between items-center px-8">
    <div class="text-xl font-semibold">
      ArtVault
    </div>
    <div class="flex space-x-4">
      <a href="#" aria-label="Facebook" class="text-white hover:text-gray-400">
        <i class="fab fa-facebook-square"></i>
      </a>
      <a href="#" aria-label="Twitter" class="text-white hover:text-gray-400">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="#" aria-label="Instagram" class="text-white hover:text-gray-400">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="#" aria-label="LinkedIn" class="text-white hover:text-gray-400">
        <i class="fab fa-linkedin"></i>
      </a>
    </div>
  </div>
</footer>